.content img {
    max-width: 100%;
}
.people img {
	max-width:100%;
	height:95px;
}
.img-circle{
	border-radius:0;
}
.jumbotron{
     background-image: url('../img/mozorg-gradient.png');
}
.jumbotron header h1 {
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 3.0em;
}
.navbar-default {
    border-bottom-color: #D7D3C8;
}
body {
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 15px;
    line-height: 1.42857;
    color: #4D4E53;
}
.p2pu-logo img {
    width: 175px;
}
.btn-danger {
    color: #D7D3C8;
    background-color: #4D4E53;
    border-color: #D7D3C8;
}

.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .open > .btn-danger.dropdown-toggle {
 color: #4D4E53;
 background-color: #F6F4EC; background-image: -webkit-gradient(linear, left top, left bottom, from(#a5b8da), to(#7089b3));
 background-image: -webkit-linear-gradient(top, #F6F4EC, #D7D3C8);
 background-image: -moz-linear-gradient(top, #F6F4EC, #D7D3C8);
 background-image: -ms-linear-gradient(top, #F6F4EC, #D7D3C8);
 background-image: -o-linear-gradient(top, #F6F4EC, #D7D3C8);
 background-image: linear-gradient(to bottom, #F6F4EC, #D7D3C8);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#F6F4EC, endColorstr=#D7D3C8);
}

img[alt="LearningIcon"] { 
  max-width:  220px; 
  display: block;
}
img[alt="CodeReview"] { 
  max-width:  260px; 
  display: block;
}
img[alt="Detective"] { 
  max-width:  200px; 
  display: block;
}
img[alt="WebApp"] { 
  max-width:  160px; 
  display: block;
}

footer {
    padding: 2.5rem 0;
    background: none repeat scroll 0 0 #013E5F;
    color: #FFF;
}

.navbar-nav > li > a{
	font-size:1em;
}

.btn{
	margin-bottom:5px;
}

.literacy-color-credibility, .literacy-color-search, .literacy-color-composing{
  color:white;
}

.literacy-color-credibility{
  background-color: #FF5984;
}
.literacy-color-search{
  background-color: #fe4040;
}

.literacy-color-composing{
  background-color: #01bc85;
}
.literacy-color-practices{
  background-color: #0097d6;
}

.literacy-color-webmechanics{
  background-color: #FF6969;
  color: white;
}

.literacy-color-navigation{
  background-color: #FF4E1F;
  color: white;
}

.literacy-color-infrastructure{
	background-color: #09b773;
	color: white;
}

.literacy-color-remixing{
  background-color: #00CEB8;
  color: white;
}

.literacy-color-open-practices{
  background-color: #0097d6;
  color: white;
}

.literacy-color-sharing{
  background-color: #739ab1;
  color: white;
}

.literacy-color-community-participation{
  background-color: #63cfea;
  color: white;
}

.literacy-color-collaborating{
  background-color: #506b7b;
  color: white;
}